name: "E2E Tests"

on:
  pull_request:
    branches: [main]

jobs:
  integration:
    name: End to End Test
    runs-on: ubuntu-latest
    steps:
      - name: Install Nix
        uses: DeterminateSystems/nix-installer-action@v16
      - uses: cachix/cachix-action@v15
        with:
          name: lana-ci
          authToken: ${{ env.CACHIX_AUTH_TOKEN }}

      - uses: actions/checkout@v3
      - name: Run e2e tests
        run: nix run .#bats

